.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    padding-left: 25px;
    padding-right: 25px;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 87px;
    padding-right: 87px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 175px;
    padding-right: 175px;
  }
}
