<main>
    <section class="hero">
        <div class="container">
            <!-- Здесь будет заголовок и поиски -->
          <!-- <form>
    <label>
      <input type="text" name="saerchEvent" placeholder="that we were looking for?" />
    </label>
    <label>
        <input type="text" name="countryName" placeholder="in which country?" />
    </label>
</form> -->
        </div>
    </section>
    <section class="events">
        <div class="container">
            <ul class="events-gallery js-events-list">
                <!-- Здесь будут рендерится картинки -->
            </ul>
        </div>
    </section>
</main>
