<main>
  <div class="loader">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>

  <section class="events">
    <h2 class="visually-hidden">Список событий</h2>
    <div class="container">
      <ul class="events-gallery js-events-list"></ul>
      <div id="pagination" class="tui-pagination"></div>
    </div>
    <a id="top__button" class="scrollUp-btn">
      <svg class="scrollUp-btn-img">
        <use href="././images/symbol-defs.svg#icon-circle-up"></use>
      </svg>
    </a>
  </section>

  <section class="lightbox js-lightbox">
    <h2 class="visually-hidden">Подробная информация о событии</h2>
    <div class="lightbox__overlay"></div>
    <div class="lightbox__container">
      <div class="lightbox__content"></div>
      <button type="button" class="lightbox__button button-more-event" data-action="more-events">
        MORE FROM THIS AUTHOR
      </button>
      <button type="button" class="lightbox__button button-more-close" data-action="close-lightbox">
        <svg width="40px" height="40px" aria-label="Закрытие">
          <use href="./images/symbol-defs.svg#icon-close-40px"></use>
        </svg>
      </button>
    </div>
  </section>
  <section class="js-modal-map">
    <div id="mapid" class="mapid">
      <a class="map-close" >
        <svg width="40px" height="40px" aria-label="Закрытие">
          <use href="./images/symbol-defs.svg#icon-close-40px"></use>
        </svg>
      </a>
    </div>
  </section>
</main>
