@media screen and (min-width: $tablet) {
  %big-circle {
    content: ' ';

    display: block;
    position: absolute;
    z-index: -1;

    width: 126px;
    height: 126px;

    border: 1px solid $body-decoration-el-color;
    background-color: $card-paragraph-text;

    border-radius: 50%;
  }

  %small-circle {
    content: ' ';

    display: block;
    position: absolute;
    z-index: 1;

    width: 80px;
    height: 80px;

    background: linear-gradient(
        151.61deg,
        rgba(196, 196, 196, 0.03) -7.48%,
        rgba(196, 196, 196, 0) 106.62%
      )
      $card-paragraph-text;

    backdrop-filter: blur(20px);
    border-radius: 50%;
  }

  %square {
    content: ' ';

    display: block;
    position: absolute;
    z-index: -1;

    width: 238px;
    height: 238px;

    border: 1px solid $body-decoration-el-color;
  }

  //
  // left circles
  //

  header:before {
    @extend %big-circle;

    bottom: -250px;
    left: 190px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
  header::after {
    @extend %small-circle;

    bottom: -228px;
    left: 213px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(1)::before {
    @extend %big-circle;

    bottom: -200px;
    left: -180px;

    width: 216px;
    height: 216px;

    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(1)::after {
    @extend %small-circle;

    bottom: -160px;
    left: -140px;

    width: 136px;
    height: 136px;

    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }

  //
  // left square
  //

  .events-gallery > li:nth-child(10):before {
    @extend %square;

    border-radius: 0 100% 0 0;

    left: -60px;
    bottom: -70px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(9):before {
    @extend %square;

    border-radius: 0 100% 0 0;

    left: -140px;
    bottom: -135px;

    width: 335px;
    height: 335px;

    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }

  //
  // left bottom cicles
  //

  footer {
    position: absolute;
    clip: rect(-200px, auto, auto, auto);

    width: 100%;
  }

  footer .container {
    position: relative;
    z-index: 100;
  }

  footer .container::before {
    @extend %big-circle;

    bottom: -65px;
    left: -50px;

    @media screen and (min-width: $desktop) {
      bottom: -110px;
      left: -40px;

      width: 216px;
      height: 216px;
    }
  }

  footer .container::after {
    @extend %small-circle;

    bottom: -40px;
    left: -25px;

    @media screen and (min-width: $desktop) {
      bottom: -70px;
      left: 0px;

      width: 136px;
      height: 136px;
    }
  }

  //
  //  right square
  //

  .events-gallery > li:nth-child(6):before {
    @extend %square;

    border-radius: 100% 0 0 0;

    bottom: -27px;
    right: -50px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(4):before {
    @extend %square;

    border-radius: 100% 0 0 0;

    top: 100px;
    right: -130px;

    width: 335px;
    height: 335px;

    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }

  //
  // right circles
  //

  .events-gallery > li:nth-child(11):before {
    @extend %big-circle;

    bottom: 90px;
    right: -265px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(11)::after {
    @extend %small-circle;

    bottom: 114px;
    right: -242px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(12):before {
    @extend %big-circle;

    bottom: -35px;
    right: -150px;

    width: 216px;
    height: 216px;

    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(12)::after {
    @extend %small-circle;

    bottom: 5px;
    right: -110px;

    width: 136px;
    height: 136px;

    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }

  // right bootom square

  .events-gallery > li:nth-child(21)::before {
    @extend %square;

    border-radius: 100% 0 0 0;

    bottom: 25px;
    right: -50px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  .events-gallery > li:nth-child(20):before {
    @extend %square;

    border-radius: 100% 0 0 0;

    bottom: -80px;
    right: -130px;

    width: 335px;
    height: 335px;

    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }
}
