.footer {
  background-color: $card-paragraph-text;
}

.footer > .container {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: $secondary-text-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  @media (min-width: $tablet) {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer-text {
  position: relative;
  z-index: 100;

  @media (max-width: $mobile-max) {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-icon {
  font-size: 80%;
  color: #ff0000;
  background: linear-gradient(to top, #ff0000 24%, #ffffcc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ff0000;
}
