.header {
  position: relative;
  z-index: 0;

  background-color: $main-body-color;
  background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
    url('../images/img_header_mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
      url('../images/img_header_mobile@2x.jpg');
  }
}

@media screen and (min-width: 701px) {
  .header {
    background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
      url('../images/img_header_tablet.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
        url('../images/img_header_tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 951px) {
  .header {
    background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
      url('../images/img_header_desktop.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: linear-gradient(to right, $header-gradient-color, $header-gradient-color),
        url('../images/img_header_desktop@2x.jpg');
    }
  }
}

.header-content {
  padding-top: 78px;
  padding-bottom: 112px;

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 183px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 192px;
  }
}

.header-gradient {
  position: absolute;
  pointer-events: none;

  bottom: 0;
  left: 0;

  background: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);

  width: 100%;
  height: 102px;
}



